:root {
  scroll-behavior: smooth;
  --main-color: #f472b6;
  --waves-color: #fce7f3;
}

body {
  overflow-x: hidden;
}

/* Nav Start */
nav.navbar {
  background-color: var(--main-color);
}

nav .navbar-brand {
  font-family: "Pacifico", cursive;
  letter-spacing: 0.25rem;
  font-style: italic;
}
/* Nav End */

/* Home Section Start */
#home {
  background-color: var(--waves-color);
  padding-top: 5rem;
}

#home h1 {
  color: var(--main-color);
  font-weight: 800;
}

#home .lead {
  font-family: "pacifico", cursive;
  font-style: italic;
  letter-spacing: 0.15rem;
}

#home .img-wrapper {
  max-width: 200px;
  width: 100%;
}

#home .bg-blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}
/* Home Section End */

/* About Section Start */
#about {
  padding-top: 8rem;
}

#about h2,
#keyboards h2,
#projects h2,
#contact h2,
#gallery h2 {
  color: var(--main-color);
  font-weight: 700;
}
/* About Section End */

/* Keyboards Section Start */
.keyboard-box {
  z-index: 1;
  position: relative;
  background-color: var(--main-color);
  border-radius: 0.75rem;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.keyboard-box::before {
  content: "My";
  position: absolute;
  font-size: 3.5rem;
  color: white;
  font-style: italic;
  font-family: "pacifico", cursive;
  opacity: 0;
  top: 5%;
  left: 0;
  transform: translateX(0);
  transition: 0.5s all ease-in-out;
}

.keyboard-box:hover::before {
  left: 50%;
  opacity: 0.5;
  transform: translateX(-50%);
}

.keyboard-box::after {
  content: "Keyboard";
  position: absolute;
  font-size: 3rem;
  color: white;
  font-style: italic;
  font-family: "pacifico", cursive;
  opacity: 0;
  bottom: 10%;
  right: 0;
  transform: translateX(0);
  transition: 0.5s all ease-in-out;
}

.keyboard-box:hover::after {
  right: 50%;
  opacity: 0.5;
  transform: translateX(50%);
}

.keyboard-name {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  transform: translate3d(-50%, 0, 50px);
  opacity: 0;
  top: 0;
  left: 50%;
  transition: 0.5s all ease-in-out;
}

.keyboard-box:hover .keyboard-name {
  opacity: 0.9;
  top: 7.5%;
  /* left: 5%; */
}

.keyboard-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 75px) rotate(0) scale(1);
  max-width: 100%;
  transition: 0.5s all ease-in-out;
}

.keyboard-box:hover .keyboard-img {
  transform: translate3d(-50%, -50%, 75px) rotate(15deg) scale(1.2);
  /* max-width: 125%; */
}

.keyboard-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 80px);
  opacity: 0;
  transition: 0.5s all ease-in-out;
}

.keyboard-box:hover .keyboard-btn {
  opacity: 0.9;
  bottom: 5%;
}
/* Keyborads Section End */

/* Projects Section Start */
#projects,
#contact {
  padding-top: 5rem;
  background-color: #fff;
}

#projects .custom-img {
  display: block;
  width: 100%;
  aspect-ratio: 3 / 2;
}
/* Projects Section End */

/* Gallery Section Start */
#gallery,
#keyboards {
  background-color: var(--waves-color);
  padding-top: 5.5rem;
}

#gallery .container > div:last-child > div {
  padding: 0.5rem;
}

#gallery img {
  display: block;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* Gallery Section End */

/* Contact Section Start */
#contact input:focus,
#contact textarea:focus {
  box-shadow: 0 0 3px 3px var(--main-color);
  border: none;
  outline: 2px solid var(--main-color);
  outline-offset: 2px solid;
}

#contact .custom-btn {
  border: 1px solid var(--waves-color);
  background-color: var(--main-color);
}

#contact .custom-btn:hover {
  background-color: #ec4899;
}
/* Contact Section End */

/* Footer Start */
footer {
  background-color: var(--waves-color);
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

footer p a {
  text-decoration: none;
  font-weight: 600;
  color: var(--main-color);
  font-style: italic;
}

footer p a:hover {
  color: #ec4899;
}

footer p a:first-child {
  font-family: "pacifico", cursive;
}
/* Footer End */
